@page
@model Vitec_MV.Pages.Products.DetailsModel

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Product.Titel);
}

Du er her: <b><a asp-page="../Index">Forside</a></b> > <b><a asp-page="./Index">Produkter</a></b> > <b>@Html.DisplayFor(model => model.Product.Titel)</b>
<hr />
<h1>@Html.DisplayFor(model => model.Product.Titel)</h1>


<img src="https://www.mv-nordic.com/wp-content/uploads/2017/11/CDORD_gradient.png" width="200px" height="200px" />
<hr />

<div>
    @Html.DisplayFor(model => model.Product.Description)
</div>
<div>
    @Html.DisplayNameFor(model => model.Product.Price): @Html.DisplayFor(model => model.Product.Price)
</div>
